body {
    background: #f2f2f2;
}

.container {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "Ubuntu", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.frame{
	background:#fff;
	border: 1px solid #dadada;
	border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 120);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 120);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 120);
}

.auth-form {
}

.error-message {
	text-align:center; 
	color:red; 
    font-family: "Ubuntu", Verdana, Arial, sans-serif;
    font-size: 14px;
}

.auth-form .input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px 4px 4px 23px;
    width: 210px;
}

.auth-form .user {
    background: url("/images/ico-user.png") 4px no-repeat;
}

.auth-form .password {
    background: url("/images/ico-lock.png") 4px no-repeat;
}

.auth-form .buttons {
    text-align: center;
}

.auth-form button {
    background-color: #575A82;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
}

.auth-form button:hover {
    background-color: #FF875E;
}


.note-container {
	text-align:right; 
    margin: 6px auto;
    padding: 6px;
	background:#fff;
	border: 1px solid #dadada;
	border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 120);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 120);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 120);
}

.note-text {
    margin: 1px auto;
    padding: 1px;
    color: #4F6B72;
    font-family: "Ubuntu", Verdana, Arial, sans-serif;
    font-size: 13px;
	text-align:left; 
}

.note-view {
}

.note-view button {
    background-color: #575A82;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
}

.note-view button:hover {
    background-color: #FF875E;
}

.add-note-frame {
    margin: -1px auto;
    padding: 3px;
	background:#fff;
	border: 2px solid #575A82;
	border-radius: 3px;
}

.add-note-frame textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 4px 4px 4px;
    resize: none;
    width:100%; 
    height:100%
}

a {
    color: #006AB4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



