<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/main.css' />
	</head>
<body>
	<div style="text-align:center;">
		Небольшой сайтик с заметками
	</div>
		
	<div class="auth-form container frame" style="text-align:center;">
		<form action="/auth" method="post">
		
			<%
				if(error.length > 0){
					
					%>
					<div class="error-message" >
						<p><%= error %></p>
					</div>
					<%
					
				}else{
					
					%>
					<div>
						<p>Введите данные пользователя для авторизации</p>
					</div>
					<%
				}
			%>
			<div>
				<input required="true" type="text" name="username" class="input user" placeholder="логин">
			</div>
			<div>
				<input required="true" type="password" name="password" class="input password" placeholder="пароль">
			</div>
			<div class="buttons">
				<button type="submit">Авторизоваться</button>
				<button type="button" onclick="register()" >Регистрация</button>
			</div>
		</form>
	</div>
	
	<script type= "text/javascript">
		function register() {
			document.location.href = "/register";
		}
	</script>
</body>
</html>