<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/main.css' />
	</head>
<body>
	<div style="text-align:center;">
		Небольшой сайтик с заметками
	</div>
		
	<div class="container frame" style="text-align:center;">
	<%
	
	if(typeof user != 'undefined') {
		
		%>
			<div class="note-view">
				
				<div style="text-align:right;">
					<button type="button" onclick="logout()" >Выход</button>
				</div>
				<div style="text-align:center;">
					Приветствую <%= user.name %>, кол-во ваших заметок: <%= notes.length %><br><br>
				</div>
				
				<div class="buttons" style="text-align:left;">
					<button type="button" onclick="addNote()" >+</button>
				</div>
				
				<div id="note-list">
					<% for(var i=0; i< notes.length; i++) { %>
						<div class="note-container">
							<button type="button" style="width:16px; height:20px; padding:0px;" onclick="removeNote('<%= notes[i].id %>')" >-</button>
							<div class="note-text">
								<%= notes[i].content %>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		<%
		
	} else {
		
		%>
			<div style="text-align:center;">
				Для загрузки и добавления заметок необходимо авторизоваться
			</div>
				
			<a href="/auth">Авторизироваться → </a>
		<%
	}
	
	%>
	</div>
	
	<script type= "text/javascript">
		
		function addNote() {
			
			var form = document.getElementById("add-note-form")

			if(form != null) {
				closeAddNoteForm();
			} else {
				openAddNoteForm();
			}
		}
		
		function openAddNoteForm() {
			
			var noteList = document.getElementById("note-list")
			var parent = noteList.parentNode;
			
			var frameContainer = document.createElement("div")
			frameContainer.setAttribute("id", "add-note-form");
			frameContainer.setAttribute("class", "add-note-frame");
			frameContainer.innerHTML = '<form action="/add-note" method="post"> \
				<div style="width:95%; height:95%;"> <textarea name="content" maxlength="250" required="true" class="input"></textarea></div> \
				<div style="text-align:left;" class="buttons"><button type="submit">Отправить</button></div> \
			  </form>'

			parent.insertBefore(frameContainer, noteList)
		}
		
		function closeAddNoteForm() {
			
			var form = document.getElementById("add-note-form")
			var parent = form.parentNode;
			
			parent.removeChild(form);
		}
		
		function removeNote(id) {
			
			var http = new XMLHttpRequest();
			var url = "/remove-note";
			var params = "id=" + id;
			
			http.open("POST", url, true);
			
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			http.setRequestHeader("Content-length", params.length);
			http.setRequestHeader("Connection", "close");

			http.onreadystatechange = function() {
			    if(http.readyState == 4 && http.status == 200) {
					document.location.href = "/";
			    }
			}
			
			http.send(params);
		}
		
		function logout() {
			document.location.href = "/sign-out";
		}
		
	</script>
</body>
</html>