<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/main.css' />
	</head>
<body>
	<div style="text-align:center;">
		Небольшой сайтик с заметками
	</div>
		
	<div class="auth-form container frame" style="text-align:center;">
		<form action="/register" method="post">
			
			<%
				if(error.length > 0){
					
					%>
					<div class="error-message" >
						<p><%= error %></p>
					</div>
					<%
					
				}else{
					
					%>
					<div>
						<p>Введите данные пользователя для регистрации</p>
					</div>
					<%
				}
			%>
			
			<div>
				<input required="true" type="text" name="user[name]" class="input user" placeholder="логин">
			</div>
			<div>
				<input required="true" type="password" name="user[password]" class="input password" placeholder="пароль">
			</div>
			<div>
				<input required="true" type="password" name="user[confirm]" class="input password" placeholder="подтверждение">
			</div>
			<div class="buttons">
				<button type="submit">Зарегистрировать</button>
			</div>
		</form>
	</div>
</body>
</html>